<div class="panel panel-white">
  {{ element['checkout_steps_list'] }}
</div>

<div class="panel panel-white">

  <div class="panel-header">
    <div class="alert alert-default alert-sm">
        {{ element['checkout_step_info'] }}
    </div>
  </div>

  <div class="panel-body">

    <form{{ attributes }}>

      <h2>{% trans %}Identification{% endtrans %}</h2>

      <div class="row">
        <div class="col-md-6">
          {{ element['identification_country'] }}
        </div>
        <div class="col-md-6">
          {{ element['identification_type'] }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          {{ element['identification_number'] }}
        </div>
        <div class="col-md-6 form-seperator">
          <label for="{{ element['birthdate_fields']['birthdate_day']['#id'] }}" class="control-label form-required">
            {{ element['legitimation_exp_fields']['#title'] }}
          </label>
          {{ element['legitimation_exp_fields']['legitimation_day'] }}
          {{ element['legitimation_exp_fields']['legitimation_month'] }}
          {{ element['legitimation_exp_fields']['legitimation_year'] }}
        </div>
      </div>

      <h2>{% trans %}Payment method{% endtrans %}</h2>

      <div class="row">
        <div class="col-md-12">
          {{ element['payment_options'] }}
          <p class="form-description">
            {% trans %}You will pay the one time costs to the courier that delivers your phone. The bank account number given below needs to be the same as the bank account number that will be used to pay for the one time costs.{% endtrans %}
          </p>
          {{ element['payment_method_fieldset'] }}
        </div>
      </div>

      <h2>{% trans %}BKR Registration{% endtrans %}</h2>

      <div class="row">
        <div class="col-md-6">
          {{ element['bkr_registration']['family_members'] }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {{ element['bkr_registration']['monthly_income'] }}
        </div>
        <div class="col-md-6">
          {{ element['bkr_registration']['monthly_expenses'] }}
        </div>
      </div>

      {{ element['form_build_id'] }}
      {{ element['form_token'] }}
      {{ element['form_id'] }}

      <div class="row">
        <div class="col-md-12">
          {{ element['actions'] }}
        </div>
      </div>
    </form>
  </div>
</div>
