<div class="panel panel-white">
  {{ element['checkout_steps_list'] }}
</div>

<div class="panel panel-white">

  <div class="panel-header">
    <div class="alert alert-default alert-sm">
        {{ element['checkout_step_info'] }}
    </div>
  </div>

  <div class="panel-body">

    <form{{ attributes }}>

      <div class="row">
        <div class="col-md-6">
          <h2>{% trans %}Personal information{% endtrans %}</h2>
          {{ element['identification_country'] }}
        </div>
        <div class="col-md-6">
          <h2>{% trans %}Contact information{% endtrans %}</h2>
          {{ element['identification_type'] }}
        </div>
        <div class="col-md-6">
          <h2>{% trans %}Identification{% endtrans %}</h2>
          {{ element['delivery_msisdn'] }}
        </div>
        <div class="col-md-6">
          <h2>{% trans %}Payment method{% endtrans %}</h2>
          {{ element['delivery_msisdn'] }}
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <p>{{ element['eu_form_link'] }}</p>
          {{ element['review_usage_data'] }}
          {{ element['review_order_terms'] }}
          {{ element['review_partner_terms'] }}
        </div>
      </div>

      {{ element['form_build_id'] }}
      {{ element['form_token'] }}
      {{ element['form_id'] }}

      <div class="row">
        <div class="col-md-12">
          {{ element['actions'] }}
        </div>
      </div>
    </form>
  </div>
</div>
