<div class="panel panel-white">
  {{ element['checkout_steps_list'] }}
</div>

<div class="panel panel-white">

  <div class="panel-header">
    <div class="alert alert-default alert-sm">
        {{ element['checkout_step_info'] }}
    </div>
  </div>

  <div class="panel-body">

    <form{{ attributes }}>

      <div class="row">
        <div class="col-md-12">
          {{ element['existing_customer']['check'] }}
        </div>
      </div>
      <div class="panel panel-gray row">
        <div class="col-md-6">
          {{ element['existing_customer']['msisdn'] }}
        </div>
        <div class="col-md-6 form-item form-seperator">
          <label for="{{ element['existing_customer']['birthdate_fields']['birthdate_day']['#id'] }}" class="control-label form-required">
            {{ element['birthdate_fields']['#title'] }}
          </label>
          {{ element['existing_customer']['birthdate_fields']['birthdate_day'] }}
          {{ element['existing_customer']['birthdate_fields']['birthdate_month'] }}
          {{ element['existing_customer']['birthdate_fields']['birthdate_year'] }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
           {{ element['number_porting'] }}
        </div>
      </div>

      <h2>{% trans %}Personal information{% endtrans %}</h2>

      <div class="row">
        <div class="col-md-12">
          {{ element['salutation'] }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          {{ element['initials'] }}
        </div>
        <div class="col-md-6">
          {{ element['first_name'] }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          {{ element['prefix'] }}
        </div>
        <div class="col-md-6">
          {{ element['last_name'] }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-seperator">
          <label for="{{ element['birthdate_fields']['birthdate_day']['#id'] }}" class="control-label form-required">
            {{ element['birthdate_fields']['#title'] }}
          </label>
          {{ element['birthdate_fields']['birthdate_day'] }}
          {{ element['birthdate_fields']['birthdate_month'] }}
          {{ element['birthdate_fields']['birthdate_year'] }}
        </div>
      </div>

      <h2>{% trans %}Contact information{% endtrans %}</h2>

      <div class="row">
        <div class="col-md-6">
          {{ element['email_address'] }}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          {{ element['address_zipcode'] }}
        </div>
        <div class="col-xs-6 col-md-3">
          {{ element['address_number'] }}
        </div>
        <div class="col-xs-6 col-md-3">
          {{ element['address_number_addition'] }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          {{ element['address_street'] }}
        </div>
        <div class="col-md-6">
          {{ element['address_city'] }}
        </div>
      </div>

      {{ element['form_build_id'] }}
      {{ element['form_token'] }}
      {{ element['form_id'] }}

      <div class="row">
        <div class="col-md-12">
          {{ element['actions'] }}
        </div>
      </div>
    </form>
  </div>
</div>
