{%
  set body_classes = [
  logged_in ? 'user-logged-in',
  not root_path ? 'page-home' : 'page-' ~ root_path|clean_class,
  node_type ? 'page-node-type-' ~ node_type|clean_class,
  db_offline ? 'db-offline',
  theme.settings.navbar_position ? 'navbar-is-' ~ theme.settings.navbar_position,
  theme.has_glyphicons ? 'has-glyphicons',
]
%}
{% set ben_xl = header_images.ben_xl ? header_images.ben_xl : '../' ~ base_path ~ directory ~ '/assets/images/jumbotron-page-' ~ root_path|clean_class ~ '-xl.jpg' %}
{% set ben_lg = header_images.ben_lg ? header_images.ben_lg : '../' ~ base_path ~ directory ~ '/assets/images/jumbotron-page-' ~ root_path|clean_class ~ '-lg.jpg' %}
{% set ben_md = header_images.ben_md ? header_images.ben_md : '../' ~ base_path ~ directory ~ '/assets/images/jumbotron-page-' ~ root_path|clean_class ~ '-md.jpg' %}
{% set ben_xs = header_images.ben_xs ? header_images.ben_xs : '../' ~ base_path ~ directory ~ '/assets/images/jumbotron-page-' ~ root_path|clean_class ~ '-xs.jpg' %}
<!DOCTYPE html>
<html {{ html_attributes }}>
<head>
  <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <css-placeholder token="{{ placeholder_token|raw }}">
      <js-placeholder token="{{ placeholder_token|raw }}">
        <style>
          .jumbotron {
            background-image: url({{ ben_xs }});
          }
          @media (min-width: 768px) {
            .jumbotron {
              background-image: url({{ ben_md }});
            }
          }
          @media (min-width: 992px) {
            .jumbotron {
              background-image: url({{ ben_lg }});
            }
          }
          @media (min-width: 1200px) {
            .jumbotron {
              background-image: url({{ ben_xl }});
            }
          }
        </style>
        </head>
<body{{ attributes.addClass(body_classes) }}>
<a href="#main-content" class="visually-hidden focusable skip-link">
  {{ 'Skip to main content'|t }}
</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
  {% block svg_icons %}
    {{ svg_icons|raw }}
  {% endblock %}
</body>
</html>
