<a class="workshop workshop--teaser" href="{{ url }}" style="background-image: url( {{ content.field_grid_image[0] }} );">
  <div class="workshop__content">
    <h2>{{ name[0] }}</h2>
    <div class="workshop__duration">
      {{ content.field_duration[0] }}
    </div>
    <div class="workshop__costs">
      {{ content.field_costs[0] }}
    </div>
  </div>
</a>
