<div class="agenda-item">
  <div class="row">
    <div class="col-md-2">
      <img src="{{ content.field_workshop_header_image[0] }}" alt=""/>
    </div>
    <div class="col-md-10">
      <div class="agenda-item_body">
        {{ content.field_description[0] }}
      </div>
      <div class="agenda-item__duration">
        {{ content.field_duration[0] }}
      </div>
      <div class="agenda-item__price">
        {{ content.field_price[0] }}
      </div>
      <div class="agenda-item_readmore">
        <a href="{{ url }}">Meer informatie</a>
      </div>
    </div>
  </div>
</div>
