<div class="row">
  <div class="col-md-3">
      <img class="workshop__image" src="{{ content.field_list_teaser_image[0] }}" alt="" />
  </div>

  <div class="col-md-9">
    <p><strong class="workshop__name">{{ name[0]|raw }}</strong></p>

    <p class="workshop_meta">
      <span class="workshop__duration">
        <strong>{{ content.field_duration[0] }}</strong> |
      </span>
      <span class="workshop__price">
        <strong>{{ content.field_costs[0] }}</strong>
      </span>
    </p>

    <div class="workshop__description">
      {{ content.field_description[0] }}
    </div>
  </div>
</div>
